.contenedor-sidebar {
  background: #1580f7;
  position: fixed;
  width: 200px;
  min-height: 100vh;
  top: 0;
  box-shadow: 0.1px 0px 15px 0.2px rgba(0, 0, 0, 0.6);
  transition: 0.5s all ease-in-out;
  overflow: hidden;
}
.contenedor-sidebar-mini {
  background: #1580f7;
  position: fixed;
  width: 55px;
  min-height: 100vh;
  top: 0;
  box-shadow: 0.1px 0px 15px 0.2px rgba(0, 0, 0, 0.6);
  transition: 0.5s all ease-in-out;
  overflow: hidden;
}

.contenedor-sidebar-mini img {
  width: 50px;
  height: 25px;
  transition: 0.5s all ease-in-out;
}

.header-sidebar {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #1679eb;
}

.logo-sidebar {
  width: 80px;
  height: 40px;
  transition: 0.5s all ease-in-out;
}

.link-sidebar {
  margin-left: -5px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.li-active {
  height: 40px;
  display: flex;
  align-items: center;
  transition: 0.5 all ease-out;
  padding: 0;
  cursor: pointer;
}

.li-active p {
  color: white;
  font-weight: 400;
}
.listitem {
  height: 40px;
  display: flex;
  align-items: center;
  transition: 0.5 all ease-out;
  padding: 0;

  cursor: pointer;
}

.listitem:nth-child(6) {
  list-style: none;
  height: 40px;
  display: flex;
  align-items: center;
}
.icon-sidebar {
  color: #fff !important;
}
.txt-sidebar {
  font-size: 13px;
  font-weight: 400;
  margin-left: 10px;
  color: white;
  opacity: 1;
  animation: 1s texto-header-animation forwards ease-in;
  opacity: 0;
  animation-delay: 0.5s;
}
.txt-sidebar-mini {
  font-size: 13px;
  font-weight: 200;
  margin-left: 10px;
  color: #8f8e97;
  opacity: 0;
}
@keyframes texto-header-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cont-icon-sidebar {
  background: #449af9;
  min-width: 30px;
  min-height: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-bottom {
  width: 100%;
  bottom: 0;
  position: absolute;
}
